@define-color base   #11111b;
@define-color mantle #181825;
@define-color text   #cdd6f4;
@define-color subtext #a6adc8;
@define-color mauve  #cba6f7;
@define-color blue   #89b4fa;
@define-color red    #f38ba8;
@define-color surface0 #313244;

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: @text;
}

.modules-left {
  background: transparent;
}

.modules-center,
.modules-right {
    background: #11111b;
    border: none;
    padding: 2px 8px;
    border-radius: 12px;
}

#workspaces {
    background: #11111b;
    border-radius: 18px;
    margin-right: 8px;
    padding: 0 8px;
}

#workspaces button {
    padding: 0 8px;
    font-size: 20px;
    color: @subtext;
    background: #11111b;
    border-radius: 12px;
    transition: all 0.3s cubic-bezier(0.05, 0.9, 0.1, 1.05);
}

#workspaces button:hover {
    background: @surface0;
    color: @text;
}

#workspaces button.active {
    color: @mauve;
    border-radius: 26px;
    padding: 0 18px;
    background: alpha(@mauve, 0.15);
}

#workspaces button.urgent {
    color: @red;
}

#clock {
    color: #4D7C80;
}

#backlight,
#pulseaudio, 
#network, 
#battery, 
#tray {
    padding: 0 8px;
    color: @text;
}

#battery.warning:not(.charging) {
    color: @red;
}

.modules-center {
    background: #11111b;
    border: none;
    padding: 0 12px;
    border-radius: 12px;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

#clock {
    color: #4D7C80;
    padding: 0 6px;
}

#cava {
   min-width: 2px;
   color: #cdd6f4;
   margin: 0 12px;
   letter-spacing: 3px;
   padding: 0 6px;
   font-size: 8px;
   font-family: monospace;
}

#workspaces button label {
    font-size: 19px; 
}

#custom-skull {
    margin-right: 15px;
    padding: 0px 12px 0px 12px;
    background: #11111b;
    border-radius: 14px;
}
