/* Battery pill base */

#custom-battery-pill {
    min-width: 45px;
    padding: 3px 12px;
    margin: 4px 0;
    border-radius: 999px;

    color: #eceff4;
    font-weight: bold;
    font-size: 13px;

    background-color: #3b4252;
    background-image: none;
}

#custom-battery-pill.battery-0 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 0%,
        #3b4252 0%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-1 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 1%,
        #3b4252 1%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-2 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 2%,
        #3b4252 2%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-3 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 3%,
        #3b4252 3%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-4 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 4%,
        #3b4252 4%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-5 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 5%,
        #3b4252 5%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-6 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 6%,
        #3b4252 6%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-7 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 7%,
        #3b4252 7%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-8 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 8%,
        #3b4252 8%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-9 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 9%,
        #3b4252 9%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-10 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 10%,
        #3b4252 10%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-11 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 11%,
        #3b4252 11%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-12 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 12%,
        #3b4252 12%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-13 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 13%,
        #3b4252 13%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-14 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 14%,
        #3b4252 14%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-15 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 15%,
        #3b4252 15%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-16 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 16%,
        #3b4252 16%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-17 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 17%,
        #3b4252 17%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-18 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 18%,
        #3b4252 18%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-19 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 19%,
        #3b4252 19%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-20 {
    background-image: linear-gradient(
        to right,
        #bf616a 0%,
        #bf616a 20%,
        #3b4252 20%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-21 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 21%,
        #3b4252 21%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-22 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 22%,
        #3b4252 22%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-23 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 23%,
        #3b4252 23%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-24 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 24%,
        #3b4252 24%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-25 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 25%,
        #3b4252 25%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-26 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 26%,
        #3b4252 26%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-27 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 27%,
        #3b4252 27%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-28 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 28%,
        #3b4252 28%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-29 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 29%,
        #3b4252 29%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-30 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 30%,
        #3b4252 30%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-31 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 31%,
        #3b4252 31%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-32 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 32%,
        #3b4252 32%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-33 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 33%,
        #3b4252 33%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-34 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 34%,
        #3b4252 34%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-35 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 35%,
        #3b4252 35%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-36 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 36%,
        #3b4252 36%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-37 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 37%,
        #3b4252 37%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-38 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 38%,
        #3b4252 38%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-39 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 39%,
        #3b4252 39%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-40 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 40%,
        #3b4252 40%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-41 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 41%,
        #3b4252 41%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-42 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 42%,
        #3b4252 42%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-43 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 43%,
        #3b4252 43%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-44 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 44%,
        #3b4252 44%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-45 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 45%,
        #3b4252 45%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-46 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 46%,
        #3b4252 46%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-47 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 47%,
        #3b4252 47%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-48 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 48%,
        #3b4252 48%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-49 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 49%,
        #3b4252 49%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-50 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 50%,
        #3b4252 50%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-51 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 51%,
        #3b4252 51%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-52 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 52%,
        #3b4252 52%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-53 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 53%,
        #3b4252 53%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-54 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 54%,
        #3b4252 54%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-55 {
    background-image: linear-gradient(
        to right,
        #ebcb8b 0%,
        #ebcb8b 55%,
        #3b4252 55%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-56 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 56%,
        #3b4252 56%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-57 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 57%,
        #3b4252 57%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-58 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 58%,
        #3b4252 58%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-59 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 59%,
        #3b4252 59%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-60 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 60%,
        #3b4252 60%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-61 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 61%,
        #3b4252 61%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-62 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 62%,
        #3b4252 62%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-63 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 63%,
        #3b4252 63%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-64 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 64%,
        #3b4252 64%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-65 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 65%,
        #3b4252 65%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-66 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 66%,
        #3b4252 66%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-67 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 67%,
        #3b4252 67%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-68 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 68%,
        #3b4252 68%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-69 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 69%,
        #3b4252 69%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-70 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 70%,
        #3b4252 70%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-71 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 71%,
        #3b4252 71%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-72 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 72%,
        #3b4252 72%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-73 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 73%,
        #3b4252 73%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-74 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 74%,
        #3b4252 74%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-75 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 75%,
        #3b4252 75%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-76 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 76%,
        #3b4252 76%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-77 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 77%,
        #3b4252 77%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-78 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 78%,
        #3b4252 78%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-79 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 79%,
        #3b4252 79%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-80 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 80%,
        #3b4252 80%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-81 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 81%,
        #3b4252 81%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-82 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 82%,
        #3b4252 82%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-83 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 83%,
        #3b4252 83%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-84 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 84%,
        #3b4252 84%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-85 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 85%,
        #3b4252 85%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-86 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 86%,
        #3b4252 86%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-87 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 87%,
        #3b4252 87%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-88 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 88%,
        #3b4252 88%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-89 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 89%,
        #3b4252 89%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-90 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 90%,
        #3b4252 90%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-91 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 91%,
        #3b4252 91%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-92 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 92%,
        #3b4252 92%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-93 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 93%,
        #3b4252 93%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-94 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 94%,
        #3b4252 94%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-95 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 95%,
        #3b4252 95%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-96 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 96%,
        #3b4252 96%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-97 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 97%,
        #3b4252 97%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-98 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 98%,
        #3b4252 98%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-99 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 99%,
        #3b4252 99%,
        #3b4252 100%
    );
}

#custom-battery-pill.battery-100 {
    background-image: linear-gradient(
        to right,
        #a3be8c 0%,
        #a3be8c 100%,
        #3b4252 100%,
        #3b4252 100%
    );
}
